# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/.classpath
backend/.project
backend/.settings/
backend/*.iml
backend/.idea/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# Docker
.env

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
